.qrcode {
    display: flex;
    justify-content: center;
}

/* ─────────────────────────────────────────────────── */
/*         CSS para los colores en los textos          */
/* ─────────────────────────────────────────────────── */
/*         Web: https://materialui.co/colors/          */
.colorRed{
  color: red;
}

.colorBlue{
  color:  blue;
}

.colorGreen{
  color:  #0BEE00;
}

.colorYellow{
  color:  yellow;
}


/* ─────────────────────────────────────────────────── */
/*               CSS para el centrado                  */
/* ─────────────────────────────────────────────────── */
#HCenter {
  display: block; 
  margin: 0 auto;
}

#right{
  float: right; /* Hace que la imagen se posicione a la derecha */
  margin-left: 10px; /* Un margen opcional para separar el texto de la imagen */
}


#VCenter{
  display: flex; 
  align-items: center;
}

#VTop{
  display: flex; 
  align-items: top;
}



/* ─────────────────────────────────────────────────── */
/*             Negrita, Cursiva, Subrallado            */
/* ─────────────────────────────────────────────────── */
.textBold{
  font-weight: bold;
}

.textItalic{
  font-style: italic;
}

.textOblique{
  font-style: oblique;
}

.textUnderline{
  text-decoration: underline;
}

.textCenter{
  text-align: center;
}




/* ─────────────────────────────────────────────────── */
/*                Tamaños de Textos                    */
/* ─────────────────────────────────────────────────── */
.font0_5{
  font-size: 0.5rem;
}
.font0_6{
  font-size: 0.6rem;
}
.font0_7{
  font-size: 0.7rem;
}
.font0_8{
  font-size: 0.8rem;
}
.font0_9{
  font-size: 0.9rem;
}
.font1_0{
  font-size: 1.0rem;
}
.font1_1{
  font-size: 1.1rem;
}
.font1_2{
  font-size: 1.2rem;
}
.font1_3{
  font-size: 1.3rem;
}
.font1_4{
  font-size: 1.4rem;
}
.font1_5{
  font-size: 1.5rem;
}
.font1_6{
  font-size: 1.6rem;
}
.font1_7{
  font-size: 1.7rem;
}
.font1_8{
  font-size: 1.8rem;
}
.font1_9{
  font-size: 1.9rem;
}
.font2_0{
  font-size: 2.0rem;
}
.font2_1{
  font-size: 2.1rem;
}
.font2_2{
  font-size: 2.2rem;
}
.font2_3{
  font-size: 2.3rem;
}
.font2_4{
  font-size: 2.4rem;
}
.font2_5{
  font-size: 2.5rem;
}
.font2_6{
  font-size: 2.6rem;
}
.font2_7{
  font-size: 2.7rem;
}
.font2_8{
  font-size: 2.8rem;
}
.font2_9{
  font-size: 2.9rem;
}
.font3_0{
  font-size: 3.0rem;
}
.font3_1{
  font-size: 3.1rem;
}
.font3_2{
  font-size: 3.2rem;
}
.font3_3{
  font-size: 3.3rem;
}
.font3_4{
  font-size: 3.4rem;
}
.font3_5{
  font-size: 3.5rem;
}
.font3_6{
  font-size: 3.6rem;
}
.font3_7{
  font-size: 3.7rem;
}
.font3_8{
  font-size: 3.8rem;
}
.font3_9{
  font-size: 3.9rem;
}
.font4_0{
  font-size: 4.0rem;
}
.font4_1{
  font-size: 4.1rem;
}
.font4_2{
  font-size: 4.2rem;
}
.font4_3{
  font-size: 4.3rem;
}
.font4_4{
  font-size: 4.4rem;
}
.font4_5{
  font-size: 4.5rem;
}
.font4_6{
  font-size: 4.6rem;
}
.font4_7{
  font-size: 4.7rem;
}
.font4_8{
  font-size: 4.8rem;
}
.font4_9{
  font-size: 4.9rem;
}
.font5_0{
  font-size: 5.0rem;
}
.font5_1{
  font-size: 5.1rem;
}
.font5_2{
  font-size: 5.2rem;
}
.font5_3{
  font-size: 5.3rem;
}
.font5_4{
  font-size: 5.4rem;
}
.font5_5{
  font-size: 5.5rem;
}
.font5_6{
  font-size: 5.6rem;
}
.font5_7{
  font-size: 5.7rem;
}
.font5_8{
  font-size: 5.8rem;
}
.font5_9{
  font-size: 5.9rem;
}
.font6_0{
  font-size: 6.0rem;
}
.font6_1{
  font-size: 6.1rem;
}
.font6_2{
  font-size: 6.2rem;
}
.font6_3{
  font-size: 6.3rem;
}
.font6_4{
  font-size: 6.4rem;
}
.font6_5{
  font-size: 6.5rem;
}
.font6_6{
  font-size: 6.6rem;
}
.font6_7{
  font-size: 6.7rem;
}
.font6_8{
  font-size: 6.8rem;
}
.font6_9{
  font-size: 6.9rem;
}







