//Todas las variables se encuentran explicadas en el link:
//   https://quarto.org/docs/presentations/revealjs/themes.html


/*-- scss:defaults --*/
$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.5em;
//$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.7;

/*-- scss:rules --*/